:root {
    --color-background: #fbf5e8;
    --primary-color: #2f5742;
    --secound-color: #A03A2A;

    --margin-container: 62em;
    --margin-section: 2.7em;
    --margin-btn: .3em;
    --margin-p-books: .8em;
    --gap: 1em;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(to top, #b1524442 2%, var(--color-background) 38%);
    background-attachment: fixed, scroll;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    *::-webkit-scrollbar {
        height: 7px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
        margin: 0 1em;
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--secound-color);
        border-radius: 15px;
    }
}

section {
    margin: var(--margin-section) 0;
}

.wrapper-img-logo {
    width: 4em;
}

.img-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, var(--color-background) 85%, transparent 100%);
    padding: .4em 1em 1.4em;
    z-index: 1;

    a {
        padding: 0;
    }
}

.menuicon {
    color: var(--secound-color);
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.hamburguer {
    border: none;
    background-color: transparent;

    i {
        font-size: 2em;
    }
}

.menu {
    display: flex;
    align-items: flex-end;
    gap: var(--gap);
    flex-direction: column;
}

a {
    padding: .45em;
    text-decoration: none;
}

.list-link a {
    color: var(--secound-color);
}

.list-link a:hover {
    border-bottom: 2px solid var(--secound-color);
}

.container-max-width {
    max-width: var(--margin-container);
    margin: 0 auto;
}

.hero {
    padding: 2em 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.titleHero {
    font-size: 2em;
    color: var(--secound-color);
    margin-bottom: var(--margin-btn);
    font-weight: 900;
    line-height: 1;
    letter-spacing: -1px;
}

.spanHero {
    font-family: sans-serif;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--primary-color);
    display: block;
}

.btn {
    display: inline-block;
    font-size: 0.9em;
    background-color: var(--secound-color);
    color: var(--color-background);
    padding: .8em 2.6em;
    border-radius: 2em;
    position: relative;
    z-index: 0;
}

.btn--stroke {
    background-color: transparent;
    border: 1px solid var(--secound-color);
    color: var(--secound-color);
}

.btnMore {
    background-color: var(--primary-color);
}

.button__content {
    display: flex;
    gap: var(--margin-btn);
    flex-direction: column;
    margin: 0 3.5em;
    justify-content: center;
}

.h2 {
    text-align: center;
    margin: 1.5em 0;
    color: var(--primary-color);
}

.h2-content {
    padding: 0 1em;
}

.textSpan {
    display: block;
    font-weight: 200;
    font-style: italic;
}

.cardap-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: var(--gap);
}

.h3 {
    margin: 0 0 1.2em;
    color: var(--primary-color);
}

.pics-cardape {
    border-radius: 10px;
    overflow: hidden;
}

.cardape-text-wrapper {
    text-wrap: balance;
    line-height: 1.2;
    color: var(--secound-color);
    font-weight: 500;
    margin: var(--gap) 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    max-width: 20em;
}

.content {
    padding: 1em;
    box-sizing: border-box;
}

.news {
    background-color: #A03A2A;
    color: var(--color-background);
    margin: 0;
    padding: 1.6em;
}

.news-app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.apps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .2em;
}

.container-app {
    display: flex;
    gap: 1em;
}

.apps img {
    width: 3em;
}

.apps--p {
    font-size: .8em;
}

.apps--p span {
    display: block;
    text-align: right;
}

.h2-news {
    display: block;
    color: var(--color-background);
    font-size: 1.2em;
    margin: 0 0 1em;
}

.h2-news span {
    font-weight: 200;
}

.carrousel {
    display: flex;
    flex-direction: column;
}

.carrousel__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-right: 2em;
    padding-bottom: 1em;
    scroll-snap-type: x mandatory;

    img {
        margin-left: 1.7em;
        width: calc(100% - 1.5em * 2);
        scroll-snap-align: center;

        &:first-child {
            margin-left: var(--margin-section);
        }

        &:last-child {
            margin-right: var(--margin-section);
        }
    }
}

.section--books {
    margin: var(--margin-section) 0;

    h2 {
        margin-bottom: 2em;
        font-size: 1.3em;
    }
}

.others__books {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-right: 2em;
    padding-bottom: 1em;
    scroll-snap-type: x mandatory;
}

.book__content {
    margin-left: .5em;
    width: calc(100% - 1em * 2);
    flex: 0 0 calc(100% - 1em * 2);
    scroll-snap-align: center;
    display: flex;
    gap: var(--gap);

    &:first-child {
        margin-left: 1em;
    }

    &:last-child {
        margin-right: 1em;
    }
}

.img__books {
    width: 35%;
}

.book__descri {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: .9em;


    p {
        margin-bottom: var(--margin-p-books);
    }

    .btn {
        margin-top: auto;
        margin-bottom: 0;
        align-self: start;
    }
}

.footer {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--color-background);
}

.div-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0;

    .img-footer {
        width: 12em;
    }
}

.list-footer {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.list-footer a {
    display: flex;
    align-items: center;
    gap: .3em;
    color: var(--color-background);
}

.contato {
    margin: var(--gap) 0 var(--margin-section);
}

.sm-hide {
    display: none;
}

@media screen and (width <=64em) {
    .sm-sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(0, 0, 0, 0);
        padding: 0;
        margin: -1px;
        border: 0;
        overflow: hidden;
        white-space: nowrap;
        top: 0;
    }
}

@media (width >64em) {
    .wrapper-img-logo {
        margin: auto;
    }

    .menu {
        margin-top: var(--gap);
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2em;
        font-size: .9em;
    }

    .header {
        gap: var(--gap);
        padding: 1em 0 2em;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        background-image: linear-gradient(to bottom, var(--color-background) 87%, transparent 100%);
        z-index: 1;
    }

    .wrapper-img-logo {
        width: 5.8em;
    }

    .titleHero {
        font-size: 2.8em;
        margin-bottom: 1em;
    }

    .md-show {
        display: revert;
    }

    .md-hide {
        display: none;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        max-width: 100%;
        align-items: flex-start;

        .h3 {
            font-size: 1.5em;
        }
    }

    .content {
        text-align: left;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 1.8em;
    }

    .button__content {
        margin: auto 0 0;
        flex-direction: row;
        justify-content: flex-end;
    }

    .btn {
        font-size: 1.1em;
    }

    .md-3 {
        grid-column: 1 / 4;
    }

    .md-8 {
        grid-column: 4 / -1;
    }

    .btn--icon::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 85px;
        height: 85px;
        background-image: url("icons/icon-italy.png");
        background-size: contain;
        background-repeat: no-repeat;
        top: -38px;
        left: -25px;
        transform: rotate(-5deg);
    }

    .titleMiddle {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--gap);

        .h2 {
            font-size: 2em;
        }

        &::before,
        &::after {
            content: "";
            display: inline-block;
            width: 200px;
            height: 62px;
            background-image: url("icons/stars.png");
            background-size: contain;
            background-repeat: no-repeat;
        }

        &::after {
            transform: scale(-1, 1)
        }
    }

    .testemunials {
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 6em;
            top: 0;
            bottom: 1.3rem;
            pointer-events: none;

        }

        &::before {
            left: 0;
            background-image: linear-gradient(to right, var(--color-background) var(--margin-section), #0000);
        }

        &::after {
            right: 0;
            background-image: linear-gradient(to left, var(--color-background) var(--margin-section), #0000);
        }
    }

    .h2-news {
        font-size: 1.6em;
    }

    .news-app {
        justify-content: space-around;
    }

    .book__content {
        align-items: start;
        padding-right: var(--margin-section);
    }

    .book__descri {
        justify-content: space-evenly;
        height: 100%;
    }

    .descripition {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
    }

    p {
        line-height: 1.3;

    }

    .div-footer {
        align-items: start;
        margin: 0 var(--gap);

        .contato {
            text-align: left;
            margin: var(--gap) 0;
            font-size: 1.2em
        }
    }

    .list-footer {
        margin: 0;
        font-size: 1.3em
    }


    .list-footer a {
        padding: 0;
    }

    .others__books,
    .others__books:first-child {
        margin: 0;
        padding-left: var(--gap);
        padding-right: 0;
    }

    .book__content {

        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: var(--gap);
    }

    .img__books {
        grid-column: 1 / 3;
        width: 100%;
    }

    .book__descri {
        grid-column: 3 / -2;
    }
}

@media (width > 90em) {
    :root {
        --grid-margin: 4rem;
        --h1-size: 4rem;
        --h2-size: 2.5rem;
        --h3-size: 2rem;
        --margin-container--footer: 85em;

        --section-distance-top: 9rem;
        --subsection-distance-gap: 7.75rem;
    }

    .container-max-width {
        max-width: var(--margin-container--footer);
    }

    .container-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .wrapper-img-logo {
        margin: 0;
    }

    .card {
        grid-template-columns: repeat(12, 1fr);
    }

    .cardap-title {
        gap: var(--grid-margin);
    }

    .lg-6 {
        grid-column: 1 / 5;
    }

    .lg-11 {
        grid-column: 5 / -1;
    }

    .news {
        padding: 3em 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        &>* {
            grid-column: 2 / -2;
        }
    }

    .book__content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .img__books {
        grid-column: 2 / 4;
    }

    .book__descri {
        grid-column: 4/ -2;
    }
}