:root {
    --color-background: #fbf5e8;
    --primary-color: #2f5742;
    --secound-color: #A03A2A;

    --margin-container: 62em;
    --margin-section: 4em;
    --margin-btn: .3em;
    --margin-p-books: .8em;
    --gap: 1em;
    --gap-sections: 2em;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(to top, #b1524447 2%, var(--color-background) 16%);
    background-attachment: fixed, scroll;
    background-position: 100dvh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    *::-webkit-scrollbar {
        height: 7px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
        margin: 0 1em;
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--secound-color);
        border-radius: 15px;
    }
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-sections);
    padding: var(--margin-section) 0 0;
}

.section-testimunials {
    padding-top: var(--margin-section);
    padding-bottom: var(--margin-section);
    display: flex;
    flex-direction: column;
    gap: var(--gap-sections);
}

.wrapper-img-logo {
    width: 4em;
}

.img-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, var(--color-background) 85%, transparent 100%);
    padding: .4em 1em 1.4em;

    a {
        padding: 0;
    }
}

.hamburguer {
    border: none;
    font-size: 2.1em;
    background-color: transparent;
    color: var(--secound-color);
    cursor: pointer;
}

.menu-icon {
    transition: transform .3s ease-in-out;

}

.hamburguer[aria-expanded="true"] .menu-icon {
    transform: rotate(90deg);
}


.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 7em;
    padding-right: var(--gap);
    background-image: linear-gradient(to left, #a03a2aee 50%, rgba(0, 0, 0, 0.416) 50%);
    width: 100%;
    height: 100vh;
    z-index: 2;
    opacity: 1;

    transform: translateX(0%);
    transition: transform .8s ease, opacity 1s ease, visibility 0s linear 0s;

    .list-link a {
        color: white
    }
}

.nav-menu.menu-closed {
    opacity: 0;
    transform: translateX(100%);
    visibility: hidden;
    transition: transform 1s ease, opacity .2s ease, visibility 0s ease 0s;
}

.menu {
    display: flex;
    align-items: flex-end;
    gap: var(--gap-sections);
    flex-direction: column;
}

.menu,
.list-footer {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    position: relative;
    text-decoration: none;
}

.bar__animation {
    color: var(--color-background);
}

.bar__animation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: var(--secound-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.bar__animation:hover::after {
    transform: scaleX(1);
}

.container-max-width {
    max-width: var(--margin-container);
    margin: 0 auto;
}

.hero {
    padding: var(--margin-section) 0 0;
    text-align: center;
}

.titleHero {
    font-size: 2em;
    color: var(--secound-color);
    margin-bottom: 1.25em;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -1px;
}

.spanHero {
   
    color: var(--color-background);
    text-transform: uppercase;
    text-shadow: 2px 2px var(--secound-color), -2px -2px var(--secound-color), -2px 2px var(--secound-color), 2px -2px var(--secound-color);
    display: block;
}

.textSpan {
    display: block;
    font-weight: 200;
    font-style: italic;
}

.btn {
    display: inline-block;
    font-size: 0.9em;
    background-color: var(--secound-color);
    color: var(--color-background);
    padding: .8em 2.6em;
    border-radius: 2em;
    position: relative;
}

.btn--stroke {
    background-color: transparent;
    border: 1px solid var(--secound-color);
    color: var(--secound-color);
}

.btnMore {
    background-color: var(--primary-color);
}

.button__content {
    display: flex;
    gap: var(--margin-btn);
    flex-direction: column;
    margin: 0 3.5em;
    justify-content: center;
}

.btn__other--books {
    display: inline-block;
    color: var(--secound-color);
    align-self: center;
}

.h2 {
    text-align: center;
    margin: 0;
    color: var(--primary-color);
    font-size: 1.2em;
}

.h2-content {
    padding: 0 1em;
}

.h3 {
    margin: 0 0 1.2em;
    color: var(--primary-color);
}

.cardap-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: var(--gap);
}

.pics-cardape {
    border-radius: .5em;
    overflow: hidden;
}

.cardape-text-wrapper {
    line-height: 1.2;
    color: var(--secound-color);
    font-weight: 500;
    margin: var(--gap) 0;
}

.card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--gap);
    max-width: 20em;
}

.content {
    padding: var(--gap);
}

.carousel__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-right: var(--gap-sections);
    padding-bottom: var(--gap);
    scroll-snap-type: x mandatory;

    img {
        border-radius: 1.2rem;
        margin-left: 1.7em;
        width: calc(100% - 1.5em * 2);
        scroll-snap-align: center;

        &:first-child {
            margin-left: var(--margin-section);
        }

        &:last-child {
            margin-right: var(--margin-section);
        }
    }
}

.news {
    background-color: #A03A2A;
    color: var(--color-background);
    margin: 0;
    padding: 1.6em;
}

.news-app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.apps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .2em;
}

.container-app {
    display: flex;
    gap: var(--gap);
}

.apps img {
    width: 3em;
}

.apps--p {
    font-size: .8em;
}

.apps--p span {
    display: block;
    text-align: right;
}

.h2-news {
    display: block;
    color: var(--color-background);
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: var(--gap-sections);
}

.h2-news span {
    font-weight: 200;
}

.section--books {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--margin-section);
}

.others__books {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-right: var(--gap-sections);
    padding-bottom: var(--gap);
    scroll-snap-type: x mandatory;
}

.book__content {
    margin-left: .5em;
    flex: 0 0 calc(100% - var(--gap) * 2);
    scroll-snap-align: center;
    display: flex;
    gap: var(--gap);

    &:first-child {
        margin-left: var(--gap);
    }

    &:last-child {
        margin-right: var(--gap);
    }
}

.img__books {
    width: 35%;
}

.book__descri {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: .9em;

    p {
        margin-bottom: var(--margin-p-books);
    }

    .btn {
        margin-top: auto;
        margin-bottom: 0;
        align-self: start;
    }
}

.footer {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--color-background);
}

.div-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--gap-sections) 0;

    .img-footer {
        width: 12em;
    }
}

.list-footer {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.list-footer a {
    display: flex;
    align-items: center;
    gap: .3em;
    color: var(--color-background);
}

.contato {
    margin: var(--gap) 0 var(--margin-section);
}

.sm-hide {
    display: none;
}

@media screen and (width <=64em) {
    .sm-sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(0, 0, 0, 0);
        padding: 0;
        margin: -1px;
        border: 0;
        overflow: hidden;
        white-space: nowrap;
        top: 0;
    }
}

@media (width >64em) {
    :root {
        --margin-section: 5em;
    }

    .wrapper-img-logo {
        margin: auto;
    }

    .nav-menu {
        position: static;
        padding: 0;
        height: auto;
        width: auto;
        background-image: none;
    }

    .menu {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: var(--margin-p-books);

        .list-link a {
            color: var(--secound-color);
        }
    }

    .header {
        gap: var(--gap);
        padding: var(--gap) 0 var(--gap-sections);
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        background-image: linear-gradient(to bottom, var(--color-background) 87%, transparent 100%);
    }

    .wrapper-img-logo {
        width: 5.8em;
    }

    .titleHero {
        font-size: 3.5em;
    }

    .md-show {
        display: revert;
    }

    .md-hide {
        display: none;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        max-width: 100%;
        align-items: flex-start;

        .h3 {
            font-size: 1.5em;
        }
    }

    .content {
        text-align: left;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .button__content {
        margin: auto 0 0;
        flex-direction: row;
        justify-content: flex-end;
    }

    .btn {
        font-size: 1.2em;
    }

    .md-3 {
        grid-column: 1 / 4;
    }

    .md-8 {
        grid-column: 4 / -1;
    }

    .btn--icon::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 85px;
        height: 85px;
        background-image: url("icons/icon-italy.png");
        background-size: contain;
        background-repeat: no-repeat;
        top: -38px;
        left: -25px;
        transform: rotate(-5deg);
    }

    .h2 {
        font-size: 2.2em;
    }

    .titleMiddle {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--gap);

        &::before,
        &::after {
            content: "";
            display: inline-block;
            width: 200px;
            height: 62px;
            background-image: url("icons/stars.png");
            background-size: contain;
            background-repeat: no-repeat;
        }

        &::after {
            transform: scale(-1, 1)
        }
    }

    .testemunials {
        position: relative;
        overflow: hidden;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 6em;
            top: 0;
            bottom: 1rem;
            pointer-events: none;
            z-index: 1;
        }

        &::before {
            left: 0;
            background-image: linear-gradient(to right, var(--color-background) var(--margin-section), #0000);
        }

        &::after {
            right: 0;
            background-image: linear-gradient(to left, var(--color-background) var(--margin-section), #0000);
        }
    }

    .h2-news {
        font-size: 1.6em;
    }

    .news-app {
        justify-content: space-around;
    }

    .book__content {
        align-items: start;
        padding-right: var(--margin-section);
    }

    .book__descri {
        justify-content: space-evenly;
        height: 100%;
    }

    .descripition {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;

        p {
            line-height: 1.4;
        }
    }

    .div-footer {
        align-items: flex-start;
        margin: 0 var(--gap);

        .contato {
            text-align: left;
            margin: var(--gap) 0;
            font-size: 1.2em
        }
    }

    .list-footer {
        margin: 0;
        font-size: 1.3em
    }

    .list-footer a {
        padding: 0;
    }

    .others__books,
    .others__books:first-child {
        margin: 0;
        padding-left: var(--gap);
        padding-right: 0;
    }

    .book__content {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: var(--gap);
    }

    .img__books {
        grid-column: 1 / 3;
        width: 100%;
    }

    .book__descri {
        grid-column: 3 / -2;
    }
}



@media (width > 90em) {
    :root {
        --grid-margin: 4rem;
        --h1-size: 4rem;
        --h2-size: 2.5rem;
        --h3-size: 2em;
        --margin-container--footer: 85em;

        --section-distance-top: 8rem;
        --subsection-distance-gap: 3rem;
    }

    .sections,
    .section-testimunials {
        padding-top: var(--section-distance-top);
        gap: var(--subsection-distance-gap);
    }

    .container-max-width {
        max-width: var(--margin-container--footer);
    }

    .container-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .wrapper-img-logo {
        margin: 0;
        background-color: red;
    }

    .header {
        background-image: linear-gradient(to bottom, #fbf5e8f9 87%, transparent 100%);
    }

    .card {
        grid-template-columns: repeat(12, 1fr);
    }

    .cardap-title {
        gap: var(--grid-margin);

        .h3 {

            font-size: var(--h3-size);
        }
    }

    .lg-6 {
        grid-column: 1 / 5;
    }

    .lg-11 {
        grid-column: 5 / -1;
    }

    .lg-show {
        display: revert;
    }

    .news {
        padding: var(--gap-sections) 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        &>* {
            grid-column: 2 / -2;
        }
    }

    .book__content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .img__books {
        grid-column: 2 / 4;
    }

    .book__descri {
        grid-column: 4/ -2;
    }

    .hero {
        background-image: url(imagens/food-hero1.png), url(imagens/food-hero2.png), url(imagens/food-hero3.png), url(imagens/food-hero4.png);
        background-repeat: no-repeat;
        background-position: left 5% top, right 5% top, left -1% bottom 5%, right -1% bottom 5%;
        margin: 0;
        padding: var(--section-distance-top) 3em;
    }

    .hero .titleHero {
        font-size: var(--h1-size);
    }

    .h2 {
        font-size: var(--h2-size);
    }

    .h3 {
        font-size: var(--h3-size);
    }

    .content {
        .cardape-text-wrapper {
            font-size: 1.2em;
        }
    }

    .btn__other--books {
        margin-top: var(--gap);
        font-size: 1.3em;
    }

    .div-footer {
        padding-bottom: var(--section-distance-top);
    }

    @keyframes scrollcards {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(calc((var(--w) + var(--margin-card)) * var(--qtd) * -1));
        }
    }

    .js-enabled.carousel__wrapper {
        --w: 26.25rem;
        --margin-card: 1.25em;
        overflow: hidden;
        animation: scrollcards 20s linear infinite;
        width: max-content;

        img {
            width: var(--w);
            flex-shrink: 0;
            margin-left: var(--margin-card);
        }

        &:hover {
            animation-play-state: paused;
        }
    }

    .carousel-books {
        position: relative;
    }

    .no-js {

        .btn_carousel,
        .carousel-indicator {
            display: none;
        }
    }

    .js {
        .others__books {
            --currentIndex: 0;
            overflow: hidden;
        }

        .book__content {
            transition: transform .3s ease-in-out;
            transform: translateX(calc(var(--currentIndex) * -100%));
        }
    }

    .btn_carousel {
        display: inline-block;
        position: absolute;
        background-color: transparent;
        border: none;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    .prev {
        left: var(--gap-sections);

        img {
            transform: scaleX(-1);
        }
    }

    .next {
        right: var(--gap-sections);
    }

    .carousel-indicator {
        display: flex;
        gap: var(--gap);

        .indicator {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.25);
            padding: .5em;
            width: 1.2em;
            height: 1.2em;
            border-radius: 100%;
            transition: all 0.3s ease;
        }

        .indicator.active {
            background-color: #2F4F3E;
            transform: scale(1.2);
        }
    }
}